/* 
    Document   : style
    Created on : Dec 21, 2013, 10:34:31 PM
    Author     : martin
    Description:
        Purpose of the stylesheet follows.
*/

body {
    margin-bottom: 80px;
    margin-top: 50px;
}

root { 
    display: block;
}

.hiddenRow {
    display: none;
}

.unHiddenRow {
/*    display: block;*/
}

.carousel-caption h1 {
    font-size: 4em;
}

.carousel-caption p {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

section {
    padding-top: 80px;
    padding-bottom: 20px;
}

#staffSection, #contactDetailsSection {
    background-image: url('/Bakalarka-web/images/index-more-separator.png');
    background-repeat: repeat-y;
}

section h1 {
    font-size: 4em;
}

iframe {
    border-radius: 10px;
    padding-top: 12.5px;
}

#mapDetail {
    padding-left: 185px;
    padding-right: 185px;
}

.intraportal-nav {
    padding-top: 20px;
}

.myRollTabBody {
    display: none;
}

.paddingTop30 {
    padding-top: 30px;
}

.narrow-button {
    padding-left: 0px;
    padding-right: 0px;
}

.najomnaZmluvaWarning td{
    background-color: #ed9c28;
    color: black;
}

.najomnaZmluvaWarning {
    background-color: #ed9c28;
    color: black;
}

.najomnaZmluvaDanger td{
    background-color: #E27C79;
    color: black;
}

.najomnaZmluvaDanger {
    background-color: #E27C79;
    color: black;
}

.border-bottom {
    border-bottom: 1px solid #ccc;
}

